/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible !important;
}
body {
  /* background-color: #f1f3f5; */
  font-family: "Roboto", sans-serif;
  color: #343a40;

  /* border-bottom: 8px solid #1864ab; */
  /* border-top: 8px solid #087f5b; */
}
.container-douchebag {
  width: 1100px;
  margin: 0 auto;
  display: grid;
  padding-left: 128px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;

  padding: 96px 0;
}
.login-image {
  width: 700px;
  /* background-color: #f1f3f5; */
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.signin-instruction {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #5e6265;
}

/* // FORM INFO // */

.form-group input[type="text"],
.form-group input[type="password"] {
  border: none;
  border-bottom: 2px solid #5d5c5c;
  border-radius: 0;
  padding: 20px 30px;
  transition: all 0.3s;
  display: block;
  width: 100%;
  background-color: #e9ecef;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  border-color: #f37f0d;
  box-shadow: none;
  outline: 0;

  display: block;
}

.form-group label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 36px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.login-box {
  align-self: center;
}
.form-control {
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}

/* // FORGOT PASSWORD AND lOGIN BUTTON// */

.forgot-password {
  margin-top: 20px;
  margin-bottom: 30px;

  display: grid;
  text-align: right;
}
.forgot-pass:link,
.forgot-pass:visited {
  color: #868e96;
  letter-spacing: 0.2px;
  font-size: 16px;
}

.forgot-pass:hover,
.forgot-pass:active {
  color: #495057;
  letter-spacing: 0.2px;
}
.btn {
  display: inline-block;
  border: 1px solid transparent;
  background-color: #6c63ff;
  /* border: none; */
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 30px;
  width: 100%;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #483dff;
}

.forgot-password-login-form:link,
.forgot-password-login-form:visited {
  color: #868e96;
  letter-spacing: 0.2px;
  font-size: 16px;
}

.forgot-password-login-form:hover,
.forgot-password-login-form:active {
  color: #495057;
  letter-spacing: 0.2px;
}
